* {
    box-sizing: border-box;
}
  
.container {
    position: relative;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2FXc4ZUA0.png&f=1&nofb=1&ipt=8ff694a05d4a2cb07b6fac5b461ede7eb68b55ca67e7945a6a72d0721b8b7145&ipo=images);
    background-size: cover;
}

.slide {
    display: none;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.cursor {
    cursor: pointer;
}
  
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: calc(100vh * .3);
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
}

p {
    color: antiquewhite;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 10%;
}
  
.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}

a:link {
    color:burlywood;
}

a:visited {
    color:antiquewhite;
}

a:hover {
    color:blue;
}

#caption {
    font-size: x-large;
}

.header {
    height: 100px;
    width: 100%;
    background-color: #222;
}

.search {
    position: relative;
    width: 60%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}

.header input[type=text] {
    
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.header button {
    float: left;
    width: 20%;
    
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}